body{
    background-color:White;
}
.Andventure {border: 10px solid lightgreen;}
.Andventure {width: 300px; height: 250px; display: block; margin: 10px;}


.Fin {border: 10px solid lightgreen;}
.Fin {width: 300px; height: 250px; display: block; margin: 10px;}


.Jake {border: 10px solid lightgreen;}
.Jake {width: 300px; height: 250px; display: block; margin: 10px;}

.Friends {border: 10px solid lightgreen;}
.Friends {width: 300px; height: 250px; display: block; margin: 10px;}